<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - CodersCollab</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/Team/Add">Add Team</a>
    </nav>
    <main role="main">
        @RenderBody()
    </main>
</body>
</html>